// @import "bourbon/_bourbon";
/*==========  Desktop First Method  ==========*/


@media only screen and (max-width : 1764px){
	html{
		font-size: 12px;
	}
	.wrapper{
		max-width: 1200px;
	}
	.button:not(.button-empty), .address-handler__buttons .tabs__item--active .tabs__link{
		padding-top: 15px;
		padding-bottom: 18px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){
	html{
		font-size: 11px;
	}
	.address-handler{
		display: block;
		.academy-form{
			margin-bottom: 15px;
			width: 100%;
		}
		.address-handler__buttons{
			width: 100%;
		}
	}

}
@media only screen and (max-width : 1100px){
		html{
		font-size: 10px;
	}
	.button:not(.button-empty){
		padding-top: 12px;
		padding-bottom: 15px;
		padding-left: 53px;
		padding-right: 53px;
	}
}
	
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){
			html{
				font-size: 8px;
			}
			.academy-subtitle{
				font-size: 18px;
				line-height: 26px;
			}
			.reading-popup-top{
				display: block;
				margin-left: 0;
				margin-right: 0;
			}
			.reading-popup-img, .reading-popup-top__text{
				width: 100%;
				margin-left: 0;
				margin-right: 0;
			}
			.reading-popup-img{
				max-width: 536px;
				margin-left: auto;
				margin-right: auto;
				padding-bottom: 47%;
			}
			.experience .experience-block .tabs__content .tabs__item.active{
				.experience .experience-block{
					display: block;
				}
			}
}
	
	
/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
	html{
				font-size: 7px;
			}
	h1{
		font-size: 32px;
		line-height: 36px;
	}
	.academy-popup__inner{
		padding-right: 15px;
		padding-left: 15px;
	}
	.academy-form .academy-form__policy{
		font-size: 14px;
	}
	.address-handler .address-handler__buttons{
		width: auto;
		justify-content: space-between;
	}
	 .address-handler__buttons .tabs__item{
	 	width: auto;
	 }

	/*Disable Animation on Mobile Devices*/
	.animated{
		
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
}


	
	
@media only screen and (max-width : 560px){
	
	.h2-mini{
		font-size: 28px;
		line-height: normal;
	}
	.address-content__name {
    font-family: "MontseratBold", sans-serif;
    font-size: 20px;
    line-height: 24px;
  }
  .title-icon{
  	width: 40px;
  	height: 40px;
  }
  .academy-subtitle{
  	font-size: 16px;
  	line-height: normal;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){

	.button:not(.button-empty){
		padding: 10px;
		padding-bottom: 14px;
		width: 100%;
	}
	 // .address-handler__buttons .tabs__link:not(.button-empty){
	 // 	font-size: 14px;
	 // }

}
		

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){
	.wrapper{
		padding-left: 0;
		padding-right: 0;
	}
	.academy-popup{
		padding: 10px;
	}
	.mfp-close {
    right: 7px;
    top: 7px;
  }
  .h2-mini{
	font-size: 24px;
  }
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){
	/**/
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){
	/**/
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
	/**/
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	html.menu-opened{
				overflow: visible;
			body{
				overflow: visible;
			}
		}

	
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	
}

