// @import "bourbon/_bourbon";
/*==========  Desktop First Method  ==========*/


@media only screen and (max-width : 1764px){
	html{
		font-size: 12px;
	}
	.wrapper{
		max-width: 1200px;
	}
	.button:not(.button-empty), .address-handler__buttons .tabs__item--active .tabs__link{
		padding-top: 15px;
		padding-bottom: 18px;
	}
	.academy-popup{
		// max-width: 600px;
		.academy-form .academy-form-input{
			padding-top: 15px;
			padding-bottom: 15px;
			font-size: 14px;
		}
		.academy-form .academy-form__custom-policy{
			margin-top: 20px;
		}
		.academy-form .academy-form__policy{
			font-size: 14px;

		}
		.academy-form .academy-form-label-name{
			margin-bottom: 3px;
			font-size: 14px;
		}
	}
	.academy-popup__title-block .academy-subtitle{
		font-size: 16px;
	}
	.academy-popup__inner{
		padding: 30px;
		text-align: center;
	}
	.academy-popup__title-block .h2-mini,
	.academy-popup__title-block .academy-subtitle{
		margin-bottom: 15px;
	}
	.academy-popup .h2-mini{
		margin-bottom: 15px;
		font-size: 24px;
		line-height: normal;
	}
	.academy-popup .academy-form{
		display: inline-block;
	}
	.academy-popup .academy-form .academy-form-label{
		text-align: left;
		margin-bottom: 15px;
	}
	.academy-popup{
	 	.academy-form{
	 		.button{
	 			font-size: 14px;
	 		}
	 	}
	 }
	.ui-selectmenu-button.ui-button{
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.ui-selectmenu-icon.ui-icon {
		margin-top: 5px;
	}
	.ui-selectmenu-text{
		font-size: 14px;
	}
	.address-content__row{
		margin-bottom: 15px;
		text-align: left;
	}
	.address-content__name{
		font-size: 16px;
		line-height: normal;
	}
	.address-content__more{
		margin-top: 15px;
		padding-top: 0;
	}
	.address-content__loc{
		font-size: 14px;
	}
	.address-handler{
		margin-bottom: 15px;
	}
	.address-handler__buttons{
		.button:not(.button-empty),
		 .tabs__item--active .tabs__link:not(.button-empty),
		 .tabs__item--active .tabs__link{
		 	padding-top: 10px;
		 	padding-bottom: 13px;
		 }
	} 
	.address-content-map{
		height: 300px;
	}
	.academy-popup--reading{
		max-width: 900px;
		.academy-popup__inner{
			text-align: left;
			
		}
	}
	.reading-popup-par{
			margin-bottom: 15px;
		    font-size: 15px;
    line-height: 21px;
	}

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){
	html{
		font-size: 11px;
	}
	.address-handler{
		display: block;
		.academy-form{
			margin-bottom: 15px;
			width: 100%;
		}
		.address-handler__buttons{
			width: 100%;
		}
	}

}
@media only screen and (max-width : 1100px){
		html{
		font-size: 10px;
	}
	.button:not(.button-empty){
		padding-top: 12px;
		padding-bottom: 15px;
		padding-left: 53px;
		padding-right: 53px;
	}
}
	
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){
			html{
				font-size: 8px;
			}
			.academy-subtitle{
				font-size: 18px;
				line-height: 26px;
			}
			.reading-popup-top{
				display: block;
				margin-left: 0;
				margin-right: 0;
			}
			.reading-popup-img, .reading-popup-top__text{
				width: 100%;
				margin-left: 0;
				margin-right: 0;
			}
			.reading-popup-img{
				max-width: 400px;
				margin-left: auto;
				margin-right: auto;
				padding-bottom: 47%;
			}
			.experience .experience-block .tabs__content .tabs__item.active{
				.experience .experience-block{
					display: block;
				}
			}
			.reading-popup-img{
				padding-bottom: 30%;
			}
			.academy-popup--address{
				.tabs-default .tabs__content .tabs__item{
					display: none;

					&.active{
						display: block;
					}
				}
			}
}
	
	
/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
	html{
				font-size: 7px;
			}
	h1{
		font-size: 32px;
		line-height: 36px;
	}
	.academy-popup__inner{
		padding-right: 15px;
		padding-left: 15px;
	}
	.academy-form .academy-form__policy{
		font-size: 14px;
	}
	.address-handler .address-handler__buttons{
		width: auto;
		justify-content: space-between;
	}
	 .address-handler__buttons .tabs__item{
	 	width: auto;
	 }
	 .academy-popup{
	 	.academy-form{
	 		.button{
	 			font-size: 14px;
	 		}
	 	}
	 }
	
	.reading-popup-img{
		max-width: 300px;	
	}
	/*Disable Animation on Mobile Devices*/
	.animated{
		
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
}


	
	
@media only screen and (max-width : 560px){
	
	.h2-mini{
		font-size: 28px;
		line-height: normal;
	}
	.address-content__name {
    font-family: "MontseratBold", sans-serif;
    font-size: 20px;
    line-height: 24px;
  }
  .title-icon{
  	width: 40px;
  	height: 40px;
  }
  .academy-subtitle{
  	font-size: 16px;
  	line-height: normal;
  }
  .reading-popup-img{
  	padding-bottom: 40%;	
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){

	.button:not(.button-empty){
		padding: 10px;
		padding-bottom: 14px;
		width: 100%;
	}
	.academy-popup .academy-form .academy-form__custom-policy{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		text-align: left;
		.academy-form-custom{
			flex-shrink: 0;
		}
	}
	.reading-popup-img{
		max-width: none;	
		padding-bottom: 50%;	
	}
	
}
		

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){
	.wrapper{
		padding-left: 0;
		padding-right: 0;
	}
	.academy-popup{
		padding: 10px;
	}
	.mfp-close {
    right: 7px;
    top: 7px;
  }
  .h2-mini{
	font-size: 24px;
  }
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){
	/**/
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){
	/**/
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
	/**/
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	html.menu-opened{
				overflow: visible;
			body{
				overflow: visible;
			}
		}

	
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	
}

