footer.footer
	.wrapper
		.logo
			a(href="#")
				img(src="img/logo.png", alt="alt")
			.logo-text
				div «Айкэдеми»
				div Качественное школьное дистанционное образование

		.footer-right
			ul.footer-socials
				li
					a(href="#").icon-svg.icon-fb
				li
					a(href="#").icon-svg.icon-vk

			.academy-contacts
					a(href="tel:+7(812)4994949").academy-contacts__tel +7 (812) 499-49-49

					a(href="#").button.button-empty.academy-contacts__callback
						span.icon-svg.icon-phone.dashed
							img(src="img/icons-svg/phone.svg", alt="alt")
						span Перезвоните мне