section.experience.academy-sect#experience 
	.wrapper
		.title-block.text-center
			.title-icon(style="background-image: url(img/icons-svg/portfolio.svg);")
			h2.c-green педагогический стаж
			.academy-subtitle каждого преподавателя более 10 лет

	.wrapper.experience-content
		.experience-block.tabs.tabs-default.dashed

			.experience-display
				- var objects = ['Русский язык и литература', 'Математика', 'Физика', 'Химия', 'История', 'География', 'Английский язык', 'Биология', 'Информатика', 'Обществознание'];
				ul.tabs__content
					each object, ind in objects
						if ind==0
							li(id="item"+ (ind+1) +"", class="tabs__item active")
								a(href="#").tabs-link__mob-toggle= object
								.experience__person-block
									.experience-portrait
										img(src="img/ivanova.jpg", alt="alt").experience-portrait__img
							
									.experience-display__text
										.experience-display__title Иванова Анна 
											br
											| Станиславона
										- var features = ['учитель высшей категории','преподаватель русского языка и литературы', 'стаж работы с детьми 25 лет'];

										ul.experience-display__features
											each item in features
												li= item
						else	
							li(id="item"+ (ind+1) +"", class="tabs__item")
								a(href="#").tabs-link__mob-toggle= object
								.experience__person-block
									.experience-portrait
										img(src="img/ivanova.jpg", alt="alt").experience-portrait__img
							
									.experience-display__text
										.experience-display__title Иванова Анна 
											br
											| Станиславона
										- var features = ['учитель высшей категории','преподаватель русского языка и литературы', 'стаж работы с детьми 25 лет'];

										ul.experience-display__features
											each item in features
												li= item				
				
			.experience-tabs
				
				ul.experience-tabs__list.tabs__list
					each obj, ind in objects
						if ind==0
							li.tabs__item.tabs__item--active
								a(href="#item"+(ind + 1)+"", class="tabs__link")= obj
						else
							li.tabs__item
								a(href="#item"+(ind + 1)+"", class="tabs__link")= obj