section.modes.academy-sect
	.wrapper
		.modes-item
			.modes-item__inner.dashed
				.modes-item__icon
					.title-icon(style="background-image: url(img/icons-svg/bakalavr.svg);")
				h2.h2-mini выбрать"Айкэдеми" в качестве #[span.c-blue основной школы]
				
				.modes-item__descr.academy-paragraph В конце обучения выдается Аттестат государственного образца о среднем образовании
				
				.modes-item__bottom
					img.modes-item__img(src="img/modes/attestat-1.png", alt="alt")
					p для этого нужно формально перевестись в школу в Ленинградской области 

				a.modes-item__link.c-accent.to-popup(href="#address-popup") Узнать адреса школ

		.modes-item
			.modes-item__inner.dashed
				.modes-item__icon
					.title-icon(style="background-image: url(img/icons-svg/school.svg);")
				h2.h2-mini Выбрать учиться в своей школе
				
				.modes-item__descr.academy-paragraph В конце выдается Сертификат о дополнительном образовании.

				img.modes-item__img(src="img/modes/attestat-2.png", alt="alt")
	
	.wrapper.modes-bottom
		a(href="#consult-popup").button.to-popup Узнать больше


