section.personal-shedule.academy-sect
	.wrapper
		.personal-shedule__content
			.title-block.text-left
				.title-icon(style="background-image: url(img/icons-svg/calendar.svg);")
				h2.h2-mini.text-left Получите персональное расписание 
					br
					| #[span.color-accent для вашего ребенка]
				
			.academy-subtitle.academy-paragraph Оставить заявку, и мы с вами свяжемся 
				br
				| в течение двух часов.

			a(href="#").button Оставить заявку
				span.parabol.icon-svg
