section.reasons.academy-sect.sect-pink
	.wrapper
		.title-block.text-center
			.title-icon(style="background-image: url(img/icons-svg/book.svg);")
			h2.c-green 6 причин
			.academy-subtitle почему выбирают обучение в «Айкэдеми»

	.wrapper.reasons-content
		.reasons-blocks.dashed
			- var blocks = [{name: 'Индивидуальный подход', text: 'Домашнее обучение позволяет учитывать уровень подготовки вашего ребенка, его способности и возможности, подстраивать под ребенка темпы изучения материала, выбирать разнообразные подходы к обучению.'}, {name: 'Лучшие педагоги', text: 'Наши педагоги – профессионалы с большим стажем работы в школе, умеющие развить или поддержать у ребенка желание к обучению, поиску, развитию своей личности, стремление к приобретению знаний.'}, {name: 'Удобное расписание', text: 'Возможность организовать обучение по собственному, оптимальному для вашего ребенка графику: утро, вечер, выходной, время года обучения.'}, {name: 'Сопровождение учебы', text: 'За каждым учеником закрепляется персональный куратор-методист, который помогает оптимально выстроить процесс дистанционного обучения, поддерживает постоянный контакт с родителями, контролирует успеваемость, помогает в решении возникающих проблем.'}, {name: 'Уникальная программа обучения', text: 'Домашнее обучение – это индивидуальный план обучения, формируемый на основе школьной программы, утвержденной Министерством просвещения России.'}, {name: 'Дистанционные образовательные технологии', text: 'Для организации занятий мы используем профессиональную платформу для дистанционного обучения в Интернете.'}];

			each block, ind in blocks
				.reasons-block
					.reasons-block__img
						img(src="img/reasons/"+ (ind + 1) +".jpg", alt="alt")
						.reasons-block__check.icon-svg
							img(src="img/icons-svg/check-green.svg", alt="alt")
					.reasons-block__text
						.reasons-block__title= block.name
						p.reasons-block__prgr= block.text
	
