section.subscribe.academy-sect.sect-pink
	.wrapper
		.subscribe-visual
			img(src="img/jump-girl.png", alt="alt")
		.subscribe-content.text-left
			.title-icon(style="background-image: url(img/icons-svg/studying.svg);")
			h2.h2-mini.text-left Хотите узнать больше 
				br 
				| #[span.c-accent о воспитании и образовании?]
			
			.academy-subtitle.academy-paragraph Подпишитесь на рассылку новостей и 
				br
				| полезных статей.

			form.academy-form(action="#")
				label.academy-form-label
					span.academy-form-label-name Ваше имя
					input.academy-form-input(type="text", name="" placeholder="Например, Мария")

				label.academy-form-label
					span.academy-form-label-name E-mail
					input.academy-form-input(type="text", name="" placeholder=" Например, mari@mail.ru")

				button.button.button-wide(type="submit") Подписаться