.academy-popup#examination-popup.mfp-hide
	.academy-popup__inner.dashed
		h2.h2-mini Проверьте бесплатно #[span.c-accent знания вашего ребенка]

		form.academy-form(action="#")
			label.academy-form-label
				span.academy-form-label-name Ваше имя
				input.academy-form-input(type="text", name="" placeholder="Например, Мария")

			label.academy-form-label
					span.academy-form-label-name Ваш телефон
					input.academy-form-input(type="text", name="" placeholder="+7 (___) __-__-__")

			label.academy-form-label
				span.academy-form-label-name E-mail
				input.academy-form-input(type="text", name="" placeholder=" Например, mari@mail.ru")

			label.academy-form-label
				span.academy-form-label-name Класс обучения:
				select.academy-form-select.custom-select(name="")
					option(value="") class1
					option(value="") class2
					option(value="") class3

			button.button.button-wide(type="submit") Оставить заявку

			.academy-form__custom-policy
					label.academy-form-custom
						input.academy-form-check(type="checkbox", name="" required)
						span.academy-form__custom-chek
					span.academy-form__policy Я согласен с обработкой персональных даных

.academy-popup#request-popup.mfp-hide
	.academy-popup__inner.dashed
		h2.h2-mini Оставить заявку

		form.academy-form(action="#")
			label.academy-form-label
				span.academy-form-label-name Ваше имя
				input.academy-form-input(type="text", name="" placeholder="Например, Мария")

			label.academy-form-label
					span.academy-form-label-name Ваш телефон
					input.academy-form-input(type="text", name="" placeholder="+7 (___) __-__-__")

			button.button.button-wide(type="submit") Оставить заявку

			.academy-form__custom-policy
					label.academy-form-custom
						input.academy-form-check(type="checkbox", name="" required)
						span.academy-form__custom-chek
					span.academy-form__policy Я согласен с обработкой персональных даных

.academy-popup#consult-popup
	.academy-popup__inner.dashed
		.academy-popup__title-block
			h2.h2-mini Оставить заявку
			.academy-subtitle мы перезвоним вам в течение двух часов и ответим на любые вопросы об обучении в академии

		form.academy-form(action="#")
			label.academy-form-label
				span.academy-form-label-name Ваше имя
				input.academy-form-input(type="text", name="" placeholder="Например, Мария")

			label.academy-form-label
					span.academy-form-label-name Ваш телефон
					input.academy-form-input(type="text", name="" placeholder="+7 (___) __-__-__")


			button.button.button-wide(type="submit") Оставить заявку

			.academy-form__custom-policy
					label.academy-form-custom
						input.academy-form-check(type="checkbox", name="" required)
						span.academy-form__custom-chek
					span.academy-form__policy Я согласен с обработкой персональных даных