extends _misc/main

block title
	| Главная страница

block content
	//- include _sections/reasons
	//- include _sections/personal-shedule
	//- include _sections/we-work
	//- include _sections/modes
	//- include _sections/experience
	//- include _sections/stars
	//- include _sections/reviews
	//- include _sections/reading
	//- include _sections/subscribe
	//- include _sections/questions