/*--------main styles-----------*/
*{
	box-sizing: border-box;
}
html{
	font-size: 16px;
}
body{
	font-family: $os-r;
	font-weight: normal;
	font-size: 16px;
	line-height: rem(21);
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}
.wrapper{
	@include row-flex();
	@include wrapper();
	// outline: 	1px solid;
}
h1, h2{
	margin: 0;
	font-family: $gagalin;
	font-weight: normal;
	text-align: center;

}
.c-accent{
	color: $accent;
}
.c-green{
	color: $green;
}
.c-blue{
	color: $blue;
}
h1{
	font-size: rem(56);
	line-height: rem(73);
}
h2{
	font-size: rem(72);
	line-height: rem(79);

	&.h2-mini{
		font-size: 36px;
		line-height: 43px;
	}
}
.title-block{
	width: 100%;

	.academy-subtitle{
		width: 100%;
	}
	h2{
		margin-bottom: 15px;
	}
}
.title-icon{
	width: 70px;
	height: 70px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	background: center no-repeat;
	background-size: 100%;

}
.logo{
	margin-left: rem(28);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;

	a{
		flex-shrink: 0;
		img{
			max-width: 178px;
		}
	}
	.logo-text{
		flex-shrink: 0;
		div{
			&:first-child{
				font-family: $os-r;
				font-size: 24px;
				line-height: 24px;
			}
			&:last-child{
				font-family: $os-l;
				font-size: 14px;
			}

		}
	}
}

.academy-sect{
	padding-top: rem(80);
	background-color: $sect-default;
}
.sect-blue{
	background: radial-gradient(1055.81px at 39.37% 46.93%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #D5EDF5;
}
.sect-descr{
	font-family: $mon-m;
	font-size: rem(36);
	line-height: rem(42);
}
.sect-pink{
	background-color: $sect-pink;
}
.academy-subtitle{
	font-family: $mon-b;
	font-size: rem(24);
	line-height: rem(30);
}
.color-accent{
	color: $accent;
}
.button{
	position: relative;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 23px rem(109) 28px rem(109);
  font-size: 24px;
  font-family: $os-b;
  text-align: center;
  outline: none;
  box-shadow: 0px 0px 20px rgba(255, 170, 48, 0.6);
    border-radius: 50px;
	border: 4px solid #FFBE68;
	background: linear-gradient(#FFAA30 0%, rgba(255, 130, 0, 0.4) 100%), #F76309;


  &:hover{
    border-color: #FFC700;
     background: linear-gradient(180deg, #FFC530 -4.55%, rgba(248, 133, 0, 0) 59.82%), linear-gradient(180deg, #FFAA30 0%, rgba(255, 130, 0, 0.4) 100%), #F76309;
  }
   
		
  &:active{
    color: #9D4D00;
    border-color: #F27409;
   background: linear-gradient(360deg, #FFAA30 20.41%, rgba(255, 130, 0, 0.4) 153.23%), #F76309;
  }

  &-empty{
    padding: 4px 17px 5px 7px;
    border: 1px solid #FFFFFF;
    font-size: 16px;
    box-shadow:none;
    background: transparent;

    &:hover{
      border-color: #fff;
      background: transparent;
    }
    &:active{
      color: #000;
      background-color: #fff;
    }

  }
}
.academy-form{
	max-width: 489px;
  .academy-form-label{
    display: block;
    margin-bottom: rem(33);
  }
  .academy-form-label--file{
    position: relative;
    padding: 21px 0;
    background-color: #316484;
    text-align: center;
    border: 1px solid #fff;

    .academy-form-label-text{
      padding-right: 68px;
      color: #fff;
      // font-family: $r-b;
    }

    &:after{
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      width: 68px;
      height: 100%;
      border-left: 1px solid #fff;
      background: #23506D url(../img/svg/clip.svg) center no-repeat;
      background-size: 45%;
    }
  }
  .academy-form-label-name{
    display: block;
    margin-left: 30px;
    font-size: 18px;
    margin-bottom: 9px;
    font-family: $os-b;

  }
  .academy-form-input{
    display: block;
    width: 100%;
    padding: 20px 30px;
    background: #FFFFFF;
	border: 1px solid #C4C4C4;
	box-sizing: border-box;
	border-radius: 50px;
	font-family: $os-r;
    font-size: 18px;
    // font-family: $r-l;
    @include placecolor(#B0B0B0);
  }
  .academy-form-custom{
    position: relative;
    display: inline-block;
  }
  .academy-form__custom-policy{
    margin-top: 40px;
    // margin-bottom: rem(59px);
  }
  .academy-form-check,
  .academy-form-file{

    position: absolute;
      box-sizing: border-box;
      width: 1px;
      height: 1px;
      display: block;
      left: 50%;
      top: 100%;
      margin: 0;
      padding: 0;
      opacity: 0;

      &:checked ~ .academy-form__custom-chek{
        &:before{
          display: block;
        }
      }
  }
  .academy-form__custom-chek{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 26px;
    margin-right: 17px;
    border-radius: 50%;
    background: radial-gradient(12.46px at 50% 52.08%, rgba(255, 255, 255, 0.91) 0%, rgba(255, 255, 255, 0.7) 100%), #26A3CC;

    &:before{
      content: '';
      @include absolute-center;
      display: none;
      width: 12px;
      height: 10px;
      background:  url(../img/icons-svg/check.svg) no-repeat;
      background-size: 100%;
    }

  }
  .academy-form__policy{
    font-size: 18px;
  }
  .button{
  	width: 100%;
    // font-size: 18px;
  }
}
.text{
	&-center{
		text-align: center;
	}
	&-right{
		text-align: right;
	}
	&-left{
		text-align: left;
	}
}
.acordeon-sublist{
	display: none;
}
.dashed{
	border: 1px dashed #E9E9E9;
}
.academy-contacts{
	@include col();
	@include col-9();
	text-align: right;
	a{
		display: inline-block;
		vertical-align: middle;
	}
	.academy-contacts__tel{
		font-family: $mon-b;
		font-size: 24px;
		color: #fff;
		text-decoration: none;
	}
	.academy-contacts__callback{
		margin-left: rem(26);
		span{
			display: inline-block;
			vertical-align: middle;
		}
		.icon-svg{
			margin-right: 5px;

		}

    &:hover{
      .icon-phone{
        background-image: url(../img/icons-svg/phone-active.svg);
        background-size: 70%;
      }
    }
    &:active{
      .icon-phone{
        border-color: #000;
      }
    }
    
	}
}
.icon-svg{
	display: inline-block;
	position: relative;
	background:  center no-repeat;
	background-size: 90%;
	
	img{
    @include absolute-center;
  }
  svg{
		@include absolute-center;
	}
	// background: center no-repeat;
	// background-size: 90%;
}

.icon-phone{
	width: 36px;
	height: 36px;
	border-radius: 50%;
  background-image: url(../img/icons-svg/phone.svg);
  background-size: 80%;
	// img{
	// 	@include absolute-center;
	// }
}

.parabol{
	position: absolute;
	right: -10px;
	top: 100%;
	margin-top: -35px;	
	display: block;
	width: 57px;
	height: 117px;
	background-image: url(../img/icons-svg/parabol.svg);
}
.academy-paragraph{
	font-family: $mon-m;
	font-size: 24px;
line-height: 32px;

}
.slick-prev,
.slick-next{
	width: 35px;
	height: 36px;
	z-index: 1;
	&:before{
		content: '';
		width: 35px;
		height: 36px;
		display: block;
		background-position: 0 0;
		background-repeat: no-repeat;
	}

}
.slick-prev{
	left: 32px;

	&:before{
		background-image: url(../img/icons-svg/slider-prev.svg);
		background-size: 100%;
	}
	
	&:hover, &:active{
		&:before{
			background-image: url(../img/icons-svg/slider-prev-active.svg);
			
		}
	}
	
}
.slick-next{
	right: 32px;

	&:before{
		background-image: url(../img/icons-svg/slider-next.svg);
		background-size: 100%;
	}
	
	&:hover, &:active{
		&:before{
			background-image: url(../img/icons-svg/slider-next-active.svg);
			
		}
	}
	
}

/*--------dots hamburger------------*/
/*  COLORS
========================================= */

$bg-color: #2c3e50;
$white: #ffffff;

/*  MIXINS
========================================= */

@mixin animation($animation) {
  -webkit-animation: #{$animation};
     -moz-animation: #{$animation};
       -o-animation: #{$animation};
          animation: #{$animation};
}

@mixin animation-delay($animation-delay) {
  -webkit-transition-delay: #{$animation-delay};
     -moz-transition-delay: #{$animation-delay};
       -o-transition-delay: #{$animation-delay};
          transition-delay: #{$animation-delay};
}

@mixin keyframes($keyframes) {
  @-webkit-keyframes #{$keyframes} { @content; }
     @-moz-keyframes #{$keyframes} { @content; }
       @-o-keyframes #{$keyframes} { @content; }
          @keyframes #{$keyframes} { @content; }
}

@mixin transform($transform) {
  -webkit-transform: $transform;
     -moz-transform: $transform;
      -ms-transform: $transform;
       -o-transform: $transform;
          transform: $transform;
}

@mixin transition($transition...) {
  -webkit-transition: #{$transition};
     -moz-transition: #{$transition};
       -o-transition: #{$transition};
          transition: #{$transition};
}

@mixin transition-delay($transition-delay) {
  -webkit-transition-delay: #{$transition-delay};
     -moz-transition-delay: #{$transition-delay};
       -o-transition-delay: #{$transition-delay};
          transition-delay: #{$transition-delay};
}

.menu-icon {
  position: relative;
  width: 50px;
  height: 50px;
  
  .dot {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 10px;
    @include transform(translate(-50%, -50%));
    @include transition(margin .4s ease .4s, width .4s ease);
    
    &:nth-of-type(1) {
      margin-top: -20px;
      margin-left: -20px;
      @include transform(translate(-50%, -50%) rotate(45deg));
    }
    
    &:nth-of-type(2) {
      margin-top: -20px;
      @include transform(translate(-50%, -50%) rotate(-45deg));
    }
    
    &:nth-of-type(3) {
      margin-top: -20px;
      margin-left: 20px;
    }
    
    &:nth-of-type(4) {
      margin-left: -20px;
    }
    
    &:nth-of-type(5) {  
      
    }
    
    &:nth-of-type(6) {
      margin-left: 20px;
    }
    
    &:nth-of-type(7) {
      margin-top: 20px;
      margin-left: -20px;
    }
    
    &:nth-of-type(8) {
      margin-top: 20px;
    }
    
    &:nth-of-type(9) {
      margin-top: 20px;
      margin-left: 20px;
    }
  }
  
  &.clicked {
    .dot {
      @include transition(margin .4s ease, width .4s ease .4s);
      margin-left: 0;
      margin-top: 0;
      height: 5px;
      
      &:nth-of-type(1) {
        width: 50px;
      }
      
      &:nth-of-type(2) {
        width: 50px;
      }
    }
  }
}
/*--------end dots hamburger------------*/

/*--------selectmenu------------*/
.ui-selectmenu-button.ui-button{
  width: 100%;
  padding: 20px 30px;
  border-radius: 50px;
  border: 1px solid #C4C4C4;
  background-color: transparent;

  &:focus{
    outline: none;
  }
}
.ui-icon{
  width: 20px;
  height: 10px;
}
.ui-button .ui-icon,
.ui-button:focus .ui-icon,
.ui-button:hover .ui-icon{
  background-image: url(../img/icons-svg/select-chevron.svg);
}
.ui-icon-triangle-1-s{
  background-position: 0 0;
}
.ui-selectmenu-text{
  font-size: 18px;
  color: #B0B0B0;
}
/*--------end selectmenu------------*/

.academy-popup{
  position: relative;
  margin: 0 auto;
  max-width: 719px;
  padding: 25px 22px;
  background: #FFFFFF;
  box-shadow: 0px 0px 50px rgba(160, 160, 160, 0.4);
  border-radius: 4px;

  .h2-mini{
    margin-bottom: rem(40);
  }
}
.academy-popup__inner{
  padding: rem(76) rem(93) rem(45) rem(93);
  border-radius: 8px;
}
input{
	outline: none;
}

ul, li{
	margin: 0;
	padding: 0;
}
.responsive-img{
	width: 100%;
	display: block;
}
.clearfix{
	@include clearfix;
}
.text{
  &-center{
    text-align: center;
  }
  &-right{
    text-align: right;
  }
}
.cover{
  position: relative;
  &:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    background-color: rgba(#000, 0.7);
  }
}
.justify{
	content: '';
	width: 100%;
	height: 0;
	display: inline-block;
	overflow: hidden;
	visibility: hidden;
	line-height: 0;
}
.hidden{
	display: none !important;
}

/*--------end main styles-----------*/