/*--------main styles-----------*/
*{
	box-sizing: border-box;
}
html{
	font-size: 16px;
}
body{
	font-family: $os-r;
	font-weight: normal;
	font-size: 16px;
	line-height: rem(21);
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}
.wrapper{
	@include row-flex();
	@include wrapper();
	// outline: 	1px solid;
}
h1, h2{
	margin: 0;
	font-family: $gagalin;
	font-weight: normal;
	text-align: center;

}
.c-accent{
	color: $accent;
}
.c-green{
	color: $green;
}
.c-blue{
	color: $blue;
}
h1{
	font-size: rem(56);
	line-height: rem(73);
}
h2{
	font-size: rem(72);
	line-height: rem(79);

	&.h2-mini{
		font-size: 36px;
		line-height: 43px;
	}
}
.title-block{
	width: 100%;

	.academy-subtitle{
		width: 100%;
	}
	h2{
		margin-bottom: 15px;
	}
}
.title-icon{
	width: 70px;
	height: 70px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	background: center no-repeat;
	background-size: 100%;

}
.academy-sect{
	padding-top: rem(80);
}
.sect-blue{
	background: radial-gradient(1055.81px at 39.37% 46.93%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #D5EDF5;
}
.sect-descr{
	font-family: $mon-m;
	font-size: rem(36);
	line-height: rem(42);
}
.sect-pink{
	background-color: $sect-pink;
}
.academy-subtitle{
	font-family: $mon-b;
	font-size: rem(24);
	line-height: rem(30);
}
.color-accent{
	color: $accent;
}
.button{
	position: relative;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 23px rem(109) 28px rem(109);
  font-size: 24px;
  font-family: $os-b;
  text-align: center;
  outline: none;
  box-shadow: 0px 0px 20px rgba(255, 170, 48, 0.6);
border-radius: 50px;
	border: 4px solid #FFBE68;
	background: linear-gradient(#FFAA30 0%, rgba(255, 130, 0, 0.4) 100%), #F76309;

&-empty{
	padding: 4px 17px 5px 7px;
	border: 1px solid #FFFFFF;
	font-size: 16px;
	 box-shadow:none;
	background: transparent;
}
  // &:hover{
  //    background-color: lighten(orange, 5%);
  // }
   
		
  // &:active{
  //  background-color: darken(orange, 5%);
  // }
   
}
.text{
	&-center{
		text-align: center;
	}
	&-right{
		text-align: right;
	}
	&-left{
		text-align: left;
	}
}
.dashed{
	border: 1px dashed #E9E9E9;
}
.icon-svg{
	display: inline-block;
	position: relative;
	background:  0 0 no-repeat;
	background-size: 100%;
	img{
		@include absolute-center;
	}
	// background: center no-repeat;
	// background-size: 90%;
}
.icon-phone{
	width: 36px;
	height: 36px;
	border-radius: 50%;
}
.parabol{
	position: absolute;
	right: -10px;
	top: 100%;
	margin-top: -35px;	
	display: block;
	width: 57px;
	height: 117px;
	background-image: url(../img/icons-svg/parabol.svg);
}
.academy-paragraph{
	font-family: $mon-m;
	font-size: 24px;
line-height: 32px;

}
/*--------dots hamburger------------*/
/*  COLORS
========================================= */

$bg-color: #2c3e50;
$white: #ffffff;

/*  MIXINS
========================================= */

@mixin animation($animation) {
  -webkit-animation: #{$animation};
     -moz-animation: #{$animation};
       -o-animation: #{$animation};
          animation: #{$animation};
}

@mixin animation-delay($animation-delay) {
  -webkit-transition-delay: #{$animation-delay};
     -moz-transition-delay: #{$animation-delay};
       -o-transition-delay: #{$animation-delay};
          transition-delay: #{$animation-delay};
}

@mixin keyframes($keyframes) {
  @-webkit-keyframes #{$keyframes} { @content; }
     @-moz-keyframes #{$keyframes} { @content; }
       @-o-keyframes #{$keyframes} { @content; }
          @keyframes #{$keyframes} { @content; }
}

@mixin transform($transform) {
  -webkit-transform: $transform;
     -moz-transform: $transform;
      -ms-transform: $transform;
       -o-transform: $transform;
          transform: $transform;
}

@mixin transition($transition...) {
  -webkit-transition: #{$transition};
     -moz-transition: #{$transition};
       -o-transition: #{$transition};
          transition: #{$transition};
}

@mixin transition-delay($transition-delay) {
  -webkit-transition-delay: #{$transition-delay};
     -moz-transition-delay: #{$transition-delay};
       -o-transition-delay: #{$transition-delay};
          transition-delay: #{$transition-delay};
}

.menu-icon {
  position: relative;
  width: 50px;
  height: 50px;
  
  .dot {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 10px;
    @include transform(translate(-50%, -50%));
    @include transition(margin .4s ease .4s, width .4s ease);
    
    &:nth-of-type(1) {
      margin-top: -20px;
      margin-left: -20px;
      @include transform(translate(-50%, -50%) rotate(45deg));
    }
    
    &:nth-of-type(2) {
      margin-top: -20px;
      @include transform(translate(-50%, -50%) rotate(-45deg));
    }
    
    &:nth-of-type(3) {
      margin-top: -20px;
      margin-left: 20px;
    }
    
    &:nth-of-type(4) {
      margin-left: -20px;
    }
    
    &:nth-of-type(5) {  
      
    }
    
    &:nth-of-type(6) {
      margin-left: 20px;
    }
    
    &:nth-of-type(7) {
      margin-top: 20px;
      margin-left: -20px;
    }
    
    &:nth-of-type(8) {
      margin-top: 20px;
    }
    
    &:nth-of-type(9) {
      margin-top: 20px;
      margin-left: 20px;
    }
  }
  
  &.clicked {
    .dot {
      @include transition(margin .4s ease, width .4s ease .4s);
      margin-left: 0;
      margin-top: 0;
      height: 5px;
      
      &:nth-of-type(1) {
        width: 50px;
      }
      
      &:nth-of-type(2) {
        width: 50px;
      }
    }
  }
}
/*--------end dots hamburger------------*/
input{
	outline: none;
}

ul, li{
	margin: 0;
	padding: 0;
}
.responsive-img{
	width: 100%;
	display: block;
}
.clearfix{
	@include clearfix;
}
.text{
  &-center{
    text-align: center;
  }
  &-right{
    text-align: right;
  }
}
.cover{
  position: relative;
  &:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    background-color: rgba(#000, 0.7);
  }
}
.justify{
	content: '';
	width: 100%;
	height: 0;
	display: inline-block;
	overflow: hidden;
	visibility: hidden;
	line-height: 0;
}
.hidden{
	display: none;
}
/*--------end main styles-----------*/