$accent: #F86C0E;
$green: #27AE60;
$blue: #2D9CDB;
$text-gray: #27AE60;
$par-gray: #4B4B4B;
$sect-pink: #FDF6EA;
$sect-default: #FFFDFB;

$gagalin: 'Gagalin', sans-serif;
$mon-bl: 'MontseratBlack', sans-serif;
$mon-b: 'MontseratBold', sans-serif;
$mon-l: 'MontseratLight', sans-serif;
$mon-m: 'MontseratMedium', sans-serif;
$mon-it: 'MontseratItalic', sans-serif;
$mus-r: 'MuseoSansRegular', sans-serif;
$os-b: 'OpenSansBold', sans-serif;
$os-l: 'OpenSansLight', sans-serif;
$os-r: 'OpenSansRegular', sans-serif;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;
