/*--------section Experience------*/
.experience{
	padding-bottom: rem(184);
	background-color: $sect-pink;

	.wrapper{
		.title-block{
			margin-bottom: rem(74);
		}
	}
	.experience-content{
		justify-content: center;
	}
	.experience-block{
		@include col();
		@include col-16();
		@include col-lg_1734-18();
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: flex-start;
		background-color: #FEFCF8;
		border-radius: 20px;

		ul{
			li{
				list-style-type: none;

				&.active{
					.tabs-link__mob-toggle{
						background-color: #fff;
						text-decoration: none;
						border-color: $accent;
						border-radius: 20px;
					}
				}
			}
		}

		.experience-tabs,
		.experience-display{
			// width: 50%;
		}
		.experience-display{
			width: 54%;
			flex-shrink: 0;
			padding: 99px 30px 99px 66px;

		}
		.experience__person-block{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: flex-start;

		}
		.tabs-link__mob-toggle{
			padding: 25px 10px;
			display: none;
			margin-bottom: 30px;
			font-size: 18px;
			font-family: $os-b;
			text-align: center;
			color: #000;
			border: 1px solid transparent;

			&:hover,{
				background-color: #fff;
				text-decoration: none;
				border-color: $accent;
				border-radius: 20px;
			}
		}
		.experience-portrait{
			position: relative;
			width: 187px;
			height: 187px;
			margin-right: 25px;
			border: 6px solid #BFE4F0;
			border-radius: 50%;
			overflow: hidden;
			flex-shrink: 0;
		}
		.experience-portrait__img{
			@include absolute-center;
		}
		.experience-display__title{
			padding-left: 15px;
			margin-bottom: 15px;
			font-family: $mon-b;
			font-size: 24px;
			line-height: 26px;
		}
		.experience-display__features{
			font-size: 18px;
			line-height: 32px;
			font-family: $mon-m;

			li{
				position: relative;
				text-indent: 13px;

				&:before{
					content: '';
					position: absolute;
					left: 0;
					top: 16px;
					display: block;
					width: 6px;
					height: 2px;
					background-color: $accent;

				}

			}
		}

		.experience-tabs{
			flex: 1 1 auto;
			margin-top: -46px;
			background: radial-gradient(287.50px at 50% 57.66%, rgba(255, 255, 255, 0.91) 0%, rgba(255, 255, 255, 0.7) 100%), #EBDCC5;
			border: 1px solid #E9E9E9;
			box-shadow: 0px 0px 50px rgba(160, 160, 160, 0.4);
			border-radius: 20px;
			&__list{
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				flex-wrap: wrap;

				li{
					width: 50%;
					position: relative;


					&:after{
						content: '';
						@include absolute-center;
						display: block;
						width: calc(100% - 132px);
						top: auto;
						height: 1px;
						background-color: #ECDDC8;
					}


					&:nth-child(9),
					&:nth-child(10){
						&:after{
							display: none;
						}
					}

					a{
						padding: 25px 10px;
						display: block;
						font-size: 18px;
						font-family: $os-b;
						text-align: center;
						color: #000;
						border: 1px solid transparent;

						&:hover,{
							background-color: #fff;
							text-decoration: none;
							border-color: $accent;
							border-radius: 20px;
						}
						
					}
					&.tabs__item--active{
						a{
							background-color: #fff;
							text-decoration: none;
							border: 1px solid $accent;
							border-radius: 20px;
						}
					}
				}
			}
		}
	}

}

@media only screen and (max-width : 1764px){
	.experience .experience-block .experience-tabs__list li a{
		font-size: 14px;
	}
}
@media only screen and (max-width : 1200px){
	.experience .wrapper .title-block{
		margin-bottom: 80px;
	}

	.experience .experience-block .experience-tabs__list li a{
		font-size: 12px;
	}
	.experience .experience-block .experience-display{
		padding: 30px 60px 30px 30px;
	}
	.experience .experience-block .experience-portrait{
		width: 127px;
		height: 127px;
	}
	.experience .experience-block .experience-display__features li{
		font-size: 16px;
		line-height: 24px;
	}
	.experience .experience-block .experience-display__features li:before{
		top: 9px;
	}
	.experience .experience-block .experience-display__title{
		font-size: 20px;
		line-height: 24px;
	}
}

@media only screen and (max-width : 992px){
	.experience .experience-block .experience-tabs{
		display: none;
	}
	.experience .experience-block .experience-display{
		width: 100%;
	}
	.experience .experience-block .tabs-link__mob-toggle{
		display: block;
	}
	.experience .experience-block .experience__person-block{
		display: none;
	}
	.tabs-default .tabs__content .tabs__item{
		display: block;
	}
	.experience .experience-block{
		.tabs__content .tabs__item.active{
			.experience__person-block{
				display: flex;
				
			}
		}
	}
	.experience .experience-block .tabs-link__mob-toggle:hover,
	.experience .experience-block .tabs-link__mob-toggle:active{
	    background-color: transparent;
		text-decoration: none;
		border-color: transparent;
		// border-radius: 20px;
	}
	.experience .wrapper .title-block {
		margin-bottom: 30px;
	}
}
@media only screen and (max-width : 560px){
	.experience .experience-block .experience-display{
		padding-left: 15px;
		padding-right: 15px;
	}
	.experience .experience-block .experience-portrait{
		margin-bottom: 10px;
	}
	.experience .experience-block .tabs__content .tabs__item.active .experience__person-block{
		display: block;
	}
	.experience .experience-block .experience-portrait{
		margin-left: auto;
		margin-right: auto;
	}
	.experience .experience-block .experience-display__title{
		text-align: center;
	}
	.experience .experience-block .tabs-link__mob-toggle{
		padding-top: 10px;
		padding-bottom: 12px;
	}
	.experience .experience-block .tabs-link__mob-toggle{
		margin-bottom: 10px;
	}
	.experience .experience-block .experience-display{
		padding-top: 15px;
		padding-bottom: 15px;
	}

}

@media only screen and (max-width : 480px){
	.experience .experience-block .experience-display__features li{
		font-size: 12px;

		&:before{
			top: 11px;
		}
	}
	.experience .experience-block .experience-display__title{
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 5px;
		font-size: 18px;
		line-height: 22px;

		br{
			display: none;
		}
	}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.experience .experience-block .experience-tabs{
		flex: 1 1 0;

	}
}
/*--------end section Experience------*/