/*-----------header-------------*/
.header{
	position: relative;
	background-color: #FAFAFA;
	overflow: hidden;

	
	&:after{
		content: '';
		display: block;
		position: absolute;
		width: 928px;
		height: 100%;
		top: 0;
		left: 55%;
		background:  url(../img/header-bg.jpg) 0 0 no-repeat;
		background-size: cover;
		z-index: 0;
	}
	.header-inner{
		position: relative;
		z-index: 1;
	}
	.header-bottom{
		.wrapper{
			position: relative;
			justify-content: flex-end;
			padding-bottom: rem(138);

			.header-img{
				position: absolute;
			    left: 24%;
    			bottom: -161px;
				z-index: 1;
			}


			.header-bottom__left{
				@include col();
				@include col-9();
				padding-top: rem(93);
				position: relative;
				z-index: 2;

				h1{
					margin-bottom: rem(50);
					text-align: left;

					span{
						color: $accent;
					}
				}
				.sect-descr{
					margin-bottom: rem(117);
					span{
						font-family: $mon-b;

						text-transform: uppercase;
					}
				}
				.header-bottom__button{
					margin-bottom: rem(56);

					.button{
						position: relative;
					}
				}
			}

			.header-bottom__right{
				@include col();
				@include col-8();
				padding-top: rem(178);
				padding-right: rem(40);
				text-align: right;

				.header-bottom-items{
					display: inline-block;
					position: relative;
					z-index: 0;
				}
				.header-bottom-item{
					width: 100%;	
					max-width: 422px;
					padding: 10px 10px 11px 20px;
					margin-bottom: 18px;
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					align-items: flex-start;
					border: 1px solid #FFFFFF;
					// box-shadow: 0px 10px 20px #D8D8D8;
					border-radius: 20px;
				}
				.header-bottom-item__num{
					margin-right: 30px;
					width: 48px;	
					position: relative;
					font-family: $mus-r;
					font-size: 72px;
					color: #fff;
					line-height: 72px;
					flex-shrink: 0;
					text-align: center;	
					

					&:after{
						content: '';
						display: block;
						width: 1px;
						height: 47px;
						position: absolute;
						top: 10px;
						right: -13px;
						background-color: #C4C4C4;
					}
				}

				.header-bottom-item__text{
					margin-top: 12px;
					text-align: left;
					font-size: 16px;
					line-height: 21px;
					color: #fff;
				}
			}
		}
	}


}
.header-top{
		position: relative;
		padding-top: 15px;
		z-index: 2;
		.wrapper{
			align-items: center;
			padding-right: rem(100);

			.header-top__left,
			.header-top__right{
				@include col();
				@include col-9();

			}

			.header-top__left{
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				align-items: center;

			}
			
		}
		
		&--fixed{
			padding-top: 10px;
			padding-bottom: 10px;
			background-color: #fff;

			.logo a img
			{
				max-width: 150px;
			}

			.academy-contacts .academy-contacts__tel{
				color: #000;
			}
			.academy-contacts__callback{
				padding-top: 8px;
				padding-bottom: 8px;
				padding-left: 9px;
				background: linear-gradient(180deg, #FFAA30 0%, #FF8200 100%), #F76309;
				border: 1px solid #FFFFFF;

				.icon-svg{
					background: linear-gradient(180deg, rgba(255, 170, 48, 0.41) 0%, rgba(255, 130, 0, 0) 100%), #F76309;
				}

				&:hover{
					background: transparent;
					border-color: #000;
					color: #000;
					.icon-phone{
						background: transparent;
						border-color: #000;
						svg{
							fill: $accent;
						}
					}
				}
				&:active{
					.icon-phone{
						svg{
							fill: #000;
						}
					}
				}
			}
			
		}
}
.banner--clone{
	&:after{
		display: none;
		
	}
}
.header-top--fixed{
}
/*-----------end header-------------*/