/*---------section Personal-shedule-------*/
.personal-shedule{
	padding-bottom: rem(152);
	background-color: #FAFAFA;
	.wrapper{
		justify-content: flex-end;
		position: relative;
		@include lg_1734(justify-content, flex-start);

		&:after{
			content: '';
			display: block;
			position: absolute;
			top: -179px;
			right: -79px;
			width: 972px;
			height: 718px;
			background:  url(../img/bg_rersonal-shedule.jpg) 0 0 no-repeat;
			background-size: 100%;
			z-index: 0;
		}

		.personal-shedule__content{
			@include col();
			@include col-15();
			@include col-lg_1734-9();
			@include col-lg_1200-10();
			@include col-mdr-18();
			position: relative;
			z-index: 1;

			.title-icon{
				margin-left: 0;
				margin-right: 0;
				margin-bottom: 28px;
			}
			.title-block{
				max-width: 50%;
			}
			.academy-subtitle{
				max-width: 40%;
				margin-bottom: 80px;
				color: $par-gray;
			}
			.button{
				.parabol{
					bottom: 35px;
					right: -42px;
					top: auto;
					background-image:  url(../img/icons-svg/parabol-invert.svg);
				}
			}
		}

	}
}

@media only screen and (max-width : 1764px){
	.personal-shedule .wrapper:after{
		width: 572px;
		height: 421px;
		right: 0;
		top: -127px;
	}
	.personal-shedule .wrapper .personal-shedule__content .title-block,
	.personal-shedule .wrapper .personal-shedule__content .academy-subtitle{
		max-width: none;
	}

}
@media only screen and (max-width : 992px){
	.personal-shedule .wrapper:after{
		display: none;
	}
}
@media only screen and (max-width : 768px){
	.personal-shedule .wrapper .personal-shedule__content .title-icon{
		margin-bottom: initial;
	}
}
@media only screen and (max-width : 560px){
 .personal-shedule .wrapper .personal-shedule__content .button .parabol{
 	right: 0;
 }
}
/*---------end Personal-shedule-------*/