/*-----------section Reading-----------*/
.reading{
	padding-top: rem(160);
	margin-bottom: rem(193);
	background: $sect-default url(../img/reading/bg_reading.png) 0 0 no-repeat;
	
	.wrapper{
		.title-block{
			margin-bottom: 47px;
		}
	}
	.reading-content{
		justify-content: center;
		@include lg(justify-content, flex-start);
	}
	.reading-slider{
		width: 100%;
		.slick-list{
			padding-left: 80px;
			padding-right: 80px;
			overflow: visible;
		}
		.slick-slide{
			opacity: 0;

			&.slick-active{
				opacity: 1;
			}
		}

		.slick-prev{
			left: 0;
		}
		.slick-next{
			right: 0;
		}
	}
	.reading-item{
		@include col();
		// max-width: 400px;
		// @include col-5();
		// @include col-lg_1734-6();
		// @include col-lg-9();
		// @include col-sm-18();
		position: relative;
		padding: 30px 25px;
		background: #FFFFFF;
		box-shadow: 0px 0px 50px rgba(160, 160, 160, 0.4);
		border-radius: 4px;

		&:hover, &:active{
			.reading-item__more{
				display: block;
			}
		}
		
	}
	.reading-item__inner{
		padding: 34px 32px;
		padding-bottom: 70px;
	}
	.reading-item__pict{
		padding-bottom: 61.45%;
		margin-bottom: 33px;
		background:  0 0 no-repeat;
		background-size: cover;
		border-radius: 4px;
	}
	.reading-item__title{
		min-height: 75px;
		margin-bottom: 12px;
		font-family: $mon-b;
		font-size: 24px;
		line-height: 26px;
	}
	.reading-item__text{
		margin: 0;
		color: $par-gray;
		font-size: 18px;
		line-height: 25px;
	}
	.reading-item__more{
		display: none;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		font-size: 18px;
		line-height: 18px;
		font-family: $os-b;
		text-align: center;
		padding-top: 25px;
		padding-bottom: 27px;
		background: #FFFFFF;
		box-shadow: 0px 0px 50px rgba(160, 160, 160, 0.4);
		border-radius: 4px;
		border: 1px solid $accent;
		color: #000;
		text-decoration: none;
	}
}

@media only screen and (max-width : 1764px){
	.reading{
		margin-bottom: 0;
		.reading-content{
			overflow: hidden;
		}

		.reading-slider{
			.slick-list{
				padding-top: 50px;
				padding-bottom: 50px;
				overflow: hidden;
				padding-right: 40px;
				padding-left: 40px;
			}
		}
	}	
	.reading .reading-item__title{
		font-size: 20px;
    line-height: 23px;
	}
	.reading .reading-item__text {
		font-size: 16px;
    line-height: 23px;
	}
	.reading .wrapper .title-block{
		margin-bottom: 0;
	}
}
@media only screen and (max-width : 1100px){

}
@media only screen and (max-width : 900px){
	.reading .reading-item__title{
		min-height: 0;
	}
}
@media only screen and (max-width : 768px){
	.reading .reading-item__title{
		min-height: 0;
		font-size: 20px;
		line-height: 24px;
	}
	.reading .reading-item__pict{
		padding-bottom: 55%;
	}
}
@media only screen and (max-width : 480px){
	// .reading .reading-item__title{
	// 	font-size: 20px;
	// 	line-height: 32px;
	// }
	.reading .reading-slider .slick-list{
		padding-left:  20px;
		padding-right: 20px;
	}
	.reading .reading-item__inner{
		padding: 15px 15px 30px 15px;
	}
	.reading .reading-item{
		padding: 10px;
	}
	.reading .reading-item__text{
		font-size: 16px;
		line-height: 20px;
	}
	.reading .reading-item__title{
		font-size: 18px;
		line-height: 22px;
	}
}
/*-----------end section Reading-----------*/