/*------------section Reviews--------------*/
.reviews{
	padding-top: rem(106);
	padding-bottom: rem(83);

	.wrapper{
		.title-block{
			margin-bottom: 95px;
		}
	}
	.reviews-content{
		justify-content: center;

		.reviews-slider-wrapper{
			@include col();
			@include col-13();
			@include col-lg_1734-14();
			@include col-mdr-16();
			@include col-sm-18();
			position: relative;
			margin-bottom: rem(90);
			padding: 30px;
			background-color: #fff;
			box-shadow: 0px 0px 50px rgba(160, 160, 160, 0.4);
			border-radius: 4px;

			&:before{
				content: '';
				display: block;
				@include absolute-center-old;
				width: 181px;
				height: 140px;
				// @extend .icon-svg;
				bottom: auto;
				background-image: url(../img/icons-svg/quote.svg);
				top: -60px;
				z-index: 1;
			}

		}
		.reviews-slider{
			padding: rem(104) 0;
			border-radius: 4px;
		}
		.reviews-slide{
			padding: 0 rem(98) 0 rem(173);
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: flex-start;
		}
		.reviews-slide__user{
			width: 217.1px;
			height: 217.1px;
			position: relative;
			flex-shrink: 0;
			margin-right: rem(79);
			overflow: hidden;
			border-radius: 50%;
			border: 7px solid #BFE4F0;
		}
		.reviews-slide__user-img{
			@include absolute-center;
		}
		.reviews-slide__val{
			font-family: $mon-it;
		}
		.reviews-slide__name {
			font-family: $mon-b;
			font-size: 24px;
			line-height: 42px;
		}
	}

	&-button{
		justify-content: center;
	}
}

@media only screen and (max-width : 1764px){
	
	.reviews .reviews-content .reviews-slide__user {
		width: 150px;
		height: 150px;
	}
	.reviews-slider{
		.slick-prev{
			left: 10px;
		}
		.slick-next{
			right: 10px;
		}
	}
	.reviews .reviews-content .reviews-slider{
		padding: 30px 0;
	}
	.reviews .reviews-content .reviews-slide__val{
		font-size: 18px;
		line-height: 22px;
	}
	.reviews .reviews-content .reviews-slider-wrapper:before{
		  width: 140px;
		  height: 100px;
		  background-size: 100%;
	}
	.reviews .reviews-content .reviews-slide{
		padding-left: 70px;
	}
}

@media only screen and (max-width : 992px){
	.reviews .reviews-content .reviews-slide__name{
		font-size: 20px;
		line-height: 26px;
	}
}
@media only screen and (max-width : 768px){
	.reviews-slider{
		.slick-prev,
		.slick-next{
			top: 120px;
		}
	}
	.reviews .reviews-content .reviews-slide{
		display: block;
		padding-left: 20px;
		padding-right: 10px;
	}
	.reviews .reviews-content .reviews-slide__user{
		margin-left: auto;
		margin-right: auto;
	}
}
@media only screen and (max-width : 560px){

	.reviews .reviews-content .reviews-slide__name{
		line-height: 30px;
	}
	.reviews .reviews-content .reviews-slider-wrapper{
		padding: 10px;
	}
	.reviews .reviews-content .reviews-slide__val{
		font-size: 18px;
		line-height: normal;
	}
	
}

@media only screen and (max-width : 480px){
	.reviews .reviews-content .reviews-slider-wrapper{
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
}
/*------------end section Reviews--------------*/