/*------section We-work---------*/
.we-work{
	padding-bottom: rem(95);

	background: url(../img/bg_we-work.jpg) 0 0 no-repeat;
	background-size: cover;

	h2{
		margin-bottom: rem(40);
	}

	.we-work__content{
		justify-content: flex-end;

		.we-work-informer{
			@include col();
			@include col-11();
			@include col-lg_1734-14();
			@include col-mdr-18();
			padding-left: 193px;
			padding-right: rem(130);
			
			.we-work-informer__inner{
				position: relative;
				padding: 22px;
				background: #FFFFFF;
				
				box-shadow: 0px 0px 50px rgba(160, 160, 160, 0.4);
				border-radius: 4px;

				.tabs__item{
					list-style-type: none;
				}
				
			}
			.we-work-informer__text{
				padding: rem(175) rem(43) rem(43) rem(106);
				min-height: 745px;
				border-radius: 4px;
			}
			.we-work-informer__counter{
				position: absolute;
				top: 50px;
				right: calc(100% - 100px);

				font-size: rem(700);
				line-height: rem(700);
				font-family: $mon-bl;
				background: #FE9E2A;
				background: -webkit-linear-gradient(top, #FE9E2A, #F97111);
				background: -moz-linear-gradient(top, #FE9E2A, #F97111);
				background: linear-gradient(to bottom, #FE9E2A, #F97111);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				text-shadow: 0px 0px 40px rgba(255, 170, 48, 0.6);
			}
			.we-work-informer__handler{
				position: absolute;
				padding: 5px;
				right: -64px;
				top: 69px;
				background: #FFFFFF;
				box-shadow: 0px 0px 50px rgba(160, 160, 160, 0.4);
				border-radius: 100px;

				.tabs__list{
					border: 1px solid #E9E9E9;
					border-radius: 100px;
				}
				.tabs__item{
					&.tabs__item--active{
						.tabs__link{
							background: linear-gradient(180deg, #FFAA30 0%, #FF8200 100%), #F76309;
							box-shadow: 0px 0px 20px rgba(255, 170, 48, 0.6);
							color: #fff;
							
						}
					}
				}

				.tabs__link{
					display: block;
					width: 106px;
					height: 106px;
					font-size: 48px;
					font-family: $mon-bl;
					border-radius: 50%;
					color: #26A3CC;
					line-height: 106px;
					text-align: center;
					text-decoration: none;
				}
			}

			.we-work-informer__title{
				margin-bottom: rem(44);
				font-family: $mon-b;
				font-size: 24px;
				line-height: 34px;
			}
			.we-work-informer__list{
				li{
					list-style-type: none;
					position: relative;
					text-indent: 15px;
					color: $par-gray;

					&:before{
						content: '';
						position: absolute;
						width: 6px;
						height: 6px;
						left: 0;
						top: 15px;
						background-color: $accent;
						border-radius: 50%;
					}

				}
			}
		}
	}
	.we-work-hidden{
		display: none;
	}
}

@media only screen and (max-width : 1764px){
	.we-work{
		padding-bottom: rem(200);
		background-position-x: 50%;
	}

	.we-work .we-work__content .we-work-informer{
		padding-right: 0;
		padding-left: 300px;
	}
	.we-work .we-work__content .we-work-informer .we-work-informer__counter{
	    right: calc(100% - 78px);
	    top: 0;
		font-size: 350px;
		line-height: normal;
	}
	.we-work .we-work__content .we-work-informer .we-work-informer__list li{
		font-size: 16px;
		line-height:  28px ;
	}

	.we-work .we-work__content .we-work-informer .we-work-informer__title{
		margin-bottom: 30px;
		font-size: 18px;
		line-height: 22px;
	}
	.we-work .we-work__content .we-work-informer .we-work-informer__list li:before{
		top: 12px;
	}
	.we-work .we-work__content .we-work-informer .we-work-informer__text {
		padding-top: 50px;
		padding-right: 60px;
		min-height: 500px;
	}
	.we-work .we-work__content .we-work-informer .we-work-informer__handler .tabs__link{
		width: 70px;
    height: 70px;
    font-size: 35px;
    line-height: 70px;
	}
	.we-work .we-work__content .we-work-informer .we-work-informer__handler{
		right: -20px;
		top: 30px;
	}
}

@media only screen and (max-width : 1200px){
	// .we-work .we-work__content .we-work-informer{
	// 	padding-left: 100px;
	// }
	

}
@media only screen and (max-width : 1100px){

}
@media only screen and (max-width : 992px){
	.we-work .we-work__content .we-work-informer{
		padding-left: 100px;
	}
	.we-work{
		background-image: none;
		background: radial-gradient(1055.81px at 39.37% 46.93%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #D5EDF5;
	}
	.we-work .we-work__content .we-work-informer .we-work-informer__handler .tabs__link{
		width: 50px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
	}
	.we-work .we-work__content .we-work-informer .we-work-informer__handler{
		right: -11px;
	}
	.we-work .we-work__content .we-work-informer .we-work-informer__counter{
	 top: 50px;
	    right: calc(100% - 62px);
		font-size: 200px;
	}
	.we-work .we-work__content .we-work-informer .we-work-informer__text {
		min-height: 300px;
	}
	
}
@media only screen and (max-width : 768px){
	.we-work .we-work__content .we-work-informer{
		padding-left: 0;
		padding-right: 0;
	}
	.we-work .we-work__content .we-work-informer .we-work-informer__counter{
		position: static;
		text-align: center;
		font-size: 200px;
		line-height: 200px;
	}
	.we-work .we-work__content .we-work-informer .we-work-informer__handler{
		right: 0;
	}
	.we-work .we-work__content .we-work-informer .we-work-informer__text{
		padding-right: 100px;
	}
}
@media only screen and (max-width : 768px){
	.we-work .we-work__content .we-work-informer .we-work-informer__counter{
		display: none;
	}
	.we-work .we-work__content .we-work-informer .we-work-informer__handler{
		display: none;
	}
	.we-work .we-work-hidden{
		display: block;
	}
	.we-work .we-work__content .we-work-informer .we-work-informer__text{
		padding-right: 15px;
		padding-left: 15px;
	}
	.we-work .we-work__content .we-work-informer .we-work-informer__text{
		padding-top: 20px;
	}
	.we-work .we-work__content .we-work-informer .we-work-informer__title{
		margin-bottom: 5px;
		font-size: 18px;
		line-height: 24px;
	}
	.we-work .we-work__content .we-work-informer .we-work-informer__inner .tabs__item{
		margin-bottom: 25px;
	}
}
@media only screen and (max-width : 480px){
	.we-work .we-work__content .we-work-informer .we-work-informer__list li{
		font-size: 16px;

		&:before{
			top: 11px;
		}
	}
	.we-work .we-work__content .we-work-informer{
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.we-work .we-work__content .we-work-informer .we-work-informer__counter{
		background: transparent;
		color: #FF9A1C;
		-webkit-background-clip: border-box;
		-webkit-text-fill-color: initial;
	}

}
/*------end We-work---------*/